openapi: 3.2.0
info:
  title: Scribe Search & Retrieval Teams API
  version: 1.0.0
  description: '## Scribe Search & Retrieval API


    The Scribe Search & Retrieval API provides programmatic, read-only access to the documents in your organization''s knowledge base.'
servers:
- url: https://public-api.scribehow.com
tags:
- name: Teams
paths:
  /v1/teams/:
    get:
      operationId: v1_teams_list
      description: Return every team accessible to your API key. Use the returned `id` values as `team_ids` filters on the search and document endpoints.
      summary: List teams
      tags:
      - Teams
      security:
      - APIKey: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
          description: ''
        '400':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                ValidationError:
                  value:
                    field_name:
                    - Enter a valid value.
                  summary: Validation Error
                InvalidRequestData:
                  value:
                    detail: Invalid input provided.
                  summary: Invalid Request Data
          description: Bad request - invalid request data or parameters.
        '401':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                MissingAuthentication:
                  value:
                    detail: Authentication credentials were not provided.
                  summary: Missing Authentication
                InvalidAPIKey:
                  value:
                    detail: Invalid API key.
                  summary: Invalid API Key
          description: Authentication credentials were not provided or are invalid.
        '403':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                PlanNotSupported:
                  value:
                    detail: Your plan does not support Public API access.
                  summary: Plan Not Supported
          description: Access denied - your plan does not support Public API access.
        '429':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                MonthlyLimitExceeded:
                  value:
                    detail: You have exceeded your monthly limit of API calls.
                  summary: Monthly Limit Exceeded
                RateLimitExceeded:
                  value:
                    detail: Request was throttled. Expected available in 46 seconds.
                  summary: Rate Limit Exceeded
          description: Rate limit exceeded - either per-minute or monthly limit reached.
components:
  schemas:
    Team:
      type: object
      description: A team — used both as the owner of a document and as a filter target.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: UUID of the team. Pass this as a `team_ids` filter on other endpoints.
        name:
          type: string
          readOnly: true
          description: Display name of the team.
      required:
      - id
      - name
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'API key authentication. Add your API key as the header value. Example: `X-API-Key: sc_1234567890abcdefg.hijklmnopqrstuvwx`'
